<ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="medium"
    color="#fff"
    type="ball-atom"
>
</ngx-spinner>
<section class="content-header pt-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <form
                    [formGroup]="changePasswordForm"
                    (ngSubmit)="changePassword()"
                >
                    <div class="card">
                        <div class="card-header">
                            <div
                                class="d-flex align-items-center justify-content-between"
                            >
                                <h3 class="card-title">
                                    <strong class="text-success">{{
                                        pageTitle
                                    }}</strong>
                                </h3>
                            </div>
                        </div>
                        
                        <div class="card-body py-2">
                            <div class="form-group">
                                <label for="oldPassword">OLD PASSWORD :</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="OLD PASSWORD"
                                    name="oldPassword"
                                    id="oldPassword"
                                    formControlName="oldPassword"
                                />
                                
                                <ng-container
                                    *ngIf="
                                        (submitted && f.oldPassword.errors) ||
                                        (f.oldPassword.errors &&
                                            f.oldPassword.dirty)
                                    "
                                >
                                    <div
                                        *ngIf="f.oldPassword.errors.required"
                                        class="messages text-danger"
                                    >
                                        please enter old password.
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">NEW PASSWORD :</label>
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="NEW PASSWORD"
                                    name="newPassword"
                                    id="newPassword"
                                    formControlName="newPassword"
                                />
                                
                                <ng-container
                                    *ngIf="
                                        (submitted && f.newPassword.errors) ||
                                        (f.newPassword.errors &&
                                            f.newPassword.dirty)
                                    "
                                >
                                    <div
                                        *ngIf="f.newPassword.errors.required"
                                        class="messages text-danger"
                                    >
                                        please enter new password.
                                    </div>
                                    <div
                                        *ngIf="f.newPassword.errors.minlength"
                                        class="messages text-danger"
                                    >
                                        password must be at least 6 characters
                                        long.
                                    </div>
                                    <div
                                        *ngIf="f.newPassword.errors.maxlength"
                                        class="messages text-danger"
                                    >
                                        password can be maximum 100 characters
                                        long.
                                    </div>
                                </ng-container>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword"
                                    >CONFIRM PASSWORD :</label
                                >
                                <input
                                    type="password"
                                    class="form-control"
                                    placeholder="CONFIRM PASSWORD"
                                    name="confirmPassword"
                                    id="confirmPassword"
                                    formControlName="confirmPassword"
                                />
                              
                                <ng-container
                                    *ngIf="
                                        (submitted &&
                                            f.confirmPassword.errors) ||
                                        (f.confirmPassword.errors &&
                                            f.confirmPassword.dirty)
                                    "
                                >
                                    <div
                                        *ngIf="
                                            f.confirmPassword.errors.required
                                        "
                                        class="messages text-danger"
                                    >
                                        please re-enter new password.
                                        <br />
                                    </div>
                                    <div
                                        *ngIf="
                                            f.confirmPassword.errors.mustMatch
                                        "
                                        class="messages text-danger"
                                    >
                                        passwords do not match
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="card-footer clearfix py-2">
                            <button
                                type="submit"
                                class="btn btn-info float-right"
                            >
                                Submit
                            </button>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
