<ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="medium"
    color="#fff"
    type="ball-atom"
>
</ngx-spinner>
<section class="content-header">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center justify-content-between">
                    <div
                        class="d-flex align-items-center justify-content-between"
                    >
                        <h3 class="card-title">
                            <strong class="text-primary">{{
                                tableTitle
                            }}</strong>
                        </h3>
                        <div class="card-tools"></div>
                    </div>

                    <div class="card-tools">
                        <div
                            class="input-group input-group-sm align-items-center justify-content-end"
                        >
                            <button
                                class="btn btn-sm mr-2 my-1 my-sm-0 btn-outline-primary"
                                (click)="addNew()"
                                type="button"
                            >
                                <i class="fa fa-sm fa-plus-circle mr-1"></i
                                ><strong>ADD NEW</strong>
                            </button>
                            <button
                                class="btn btn-sm mr-2 my-1 my-sm-0 btn-outline-success"
                                (click)="onPageChange()"
                                type="button"
                            >
                                <i class="fa fa-sm fa-sync mr-1"></i
                                ><strong>REFRESH</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
           
            <div
                class="card-body height-fill-screen table-responsive p-0 card-scroll"
            >
                <table
                    class="table text-nowrap table-sm table-striped table-bordered table-head-fixed"
                >
                    <thead>
                        <tr>
                            <th style="text-align: center">NOTIFICATION</th>
                            <th style="width: 150px; text-align: center">
                                ACTIONS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of rows">
                            <tr>
                                <td>
                                    <h6 style="font-weight: bold">
                                        {{ item.nm_title }}
                                    </h6>
                                    <span>{{ item.nm_description }}</span>
                                </td>
                                <td>
                                    <h6 class="f-right">
                                        <span>{{
                                            item.createddatetime
                                                | date
                                                    : 'dd/MM/yyyy
                                            hh:mm:ssa'
                                        }}</span>
                                    </h6>
                                    <button
                                        class="btn btn-sm btn-outline-primary mr-2"
                                        type="button"
                                        (click)="editItem(item)"
                                    >
                                        <i class="far fa-edit mr-1"></i
                                        ><strong>EDIT</strong>
                                    </button>
                                    <button
                                        class="btn btn-sm btn-outline-danger"
                                        type="button"
                                        (click)="deleteItem(item.nm_id)"
                                    >
                                        <i class="far fa-trash-alt mr-1"></i
                                        ><strong>DELETE</strong>
                                    </button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <ng-container *ngIf="rows?.length === 0">
                    <div class="text-center my-2">No Records Found</div>
                </ng-container>
            </div>
            <div class="card-footer clearfix">
                <ngb-pagination
                    class="float-right"
                    [collectionSize]="totalRecords"
                    [(page)]="currentPage"
                    [pageSize]="10"
                    [maxSize]="5"
                    [boundaryLinks]="true"
                    (pageChange)="onPageChange()"
                >
                </ngb-pagination>
            </div>
        </div>
    </div>
</section>
